rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any file in the jobs directory
    match /jobs/{jobId}/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
